.app {
  height: 100vh;
  width: 100vw;
  background: var(--app-background);
}
.calcContainer {
  height: 100%;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
}
.container {
  width: 60vw;
  max-width: 500px;
  min-width: 280px;
  background: black;
  border: 2px solid var(--container-border);
  border-radius: 1px;
  padding: 10px;
  box-shadow: 0 1px 1px rgb(17, 100, 102, 0.12),
    0 1px 1px rgb(17, 100, 102, 0.24);
}
